---
import GitHub from "./icons/GitHub.astro"
import Node from "./icons/Node.astro"
import Redux from "./icons/Redux.astro"
import Postgres from "./icons/Postgres.astro"
import Javascript from "./icons/Javascript.astro"
import HTML5 from "./icons/HTML5.astro"
import CSS3 from "./icons/CSS3.astro"
import SASS from "./icons/SASS.astro"
import React from "./icons/React.astro"
import Express from "./icons/Express.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"
const TAGS = {
  REDUX: {
    name: "Redux",
    class: "bg-black text-white",
    icon: Redux,
  },
  REACT: {
    name: "React",
    class: "bg-black text-white",
    icon: React,
  },
  NODE: {
    name: "Node",
    class: "bg-[#003159] text-white",
    icon: Node,
  },
  POSTGRES: {
    name: "Postgres",
    class: "bg-[#003159] text-white",
    icon: Postgres,
  },
  EXPRESS: {
    name: "Express",
    class: "bg-black text-white",
    icon: Express,
  },
  JAVASCRIPT: {
    name: "Javascript",
    class: "bg-black text-white",
    icon: Javascript,
  },
  CSS3: {
    name: "CSS",
    class: "bg-[#003159] text-white",
    icon: CSS3,
  },
  SASS: {
    name: "SASS",
    class: "bg-black text-white",
    icon: SASS,
  },
  HTML5: {
    name: "HTML5",
    class: "bg-[#003159] text-white",
    icon: HTML5,
  },
}
const PROJECTS = [
  {
    title: "CareWithLove",
    description:
      "Proyecto grupal donde formé parte del Desarrollo FrontEnd en funcionalidades clave para la aplicación, como el sistema de subida de imágenes a través de Cloudinary y el diseño completo del Home Page que incluye la implementación de una API de mapas, además de filtros y ordenamientos combinados.",
    link: "https://proyecto-final-front-ashy.vercel.app/",
    github: "https://github.com/leandroh1002/proyecto-final-front",
    image: "/projects/Final.webp",
    tags: [TAGS.REACT, TAGS.JAVASCRIPT, TAGS.HTML5, TAGS.SASS, TAGS.EXPRESS, TAGS.POSTGRES, TAGS.NODE, TAGS.REDUX],
  },
  {
    title: "Countries",
    description:
      "Proyecto FullStack desarrollado individualmente, donde se implementaron las tecnologías aprendidas, el home de la app contiene una vista paginada de la API de países, se pueden realizar filtros combinados y una búsqueda por nombre para conocer detalles del pais seleccionado.",
    link: "https://countriesfront-whlz.onrender.com/",
    github: "https://github.com/leandroh1002/cr-pi-countries-main",
    image: "/projects/Individual.webp",
    tags: [TAGS.REACT, TAGS.JAVASCRIPT, TAGS.HTML5, TAGS.CSS3, TAGS.EXPRESS, TAGS.POSTGRES, TAGS.NODE, TAGS.REDUX],
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2 flex-wrap">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



